@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
    /* Primary */
    --orange:hsl(25, 97%, 53%);;

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);

    /* BackGround with opacity */
    --bgOpacity: rgba(148, 157, 171, 0.158);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    background-color: var(--VeryDarkBlue);

    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 90%;
    max-width: 400px;
    /* height: 80vh; */
    background-color: var(--DarkBlue);
    padding: 2rem 2rem;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.img__container{
    background-color: rgba(148, 157, 171, 0.158);
    width: 50px;
    height: 50px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main__title{
    color: var(--White);
}
.main__paragraph{
    font-size: 15px;
    color: var(--LightGrey);
    line-height: 1.4;
}
form{
    margin-top: 1.2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
form .submit__group{
    display: flex;
    justify-content: space-between;
}
input[type="radio"]{
    display: none;
}
input[type="radio"] + label{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(148, 157, 171, 0.158);
    color: var(--LightGrey);
    cursor: pointer;
    transition: .4s;

    display: flex;
    justify-content: center;
    align-items: center;
}
form .form__submit{
    padding: .8rem;
    background-color: var(--orange);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;

    transition: .4s;
}

input[type="radio"] + label:hover{
    background-color: var(--LightGrey);
    color: var(--White);
}
input[type="radio"]:checked + label{
    background-color: var(--orange);
    color: white;
}
form .form__submit:hover{
    background-color: white;
    color: var(--orange);
}